a.entry-url:link {
    color: #212121;
    text-decoration: none;
    font-weight: normal;
}

a.entry-url:visited {
    color: #212121;
    text-decoration: none;
    font-weight: normal;
}

a.entry-url:hover {
    color: #212121;
    text-decoration: none;
    font-weight: normal;
}

a.entry-url:active {
    color: #212121;
    text-decoration: none;
    font-weight: normal;
}

.block-text {
    margin: 0 0 0 1rem;
}

.block {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin: 0 0 1rem 0;
    background: #FAFAFA;
}

.block > img {
    width: 75px;
    margin: 0 1rem 0 0;
}

.block > div {
    flex: 1;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

.reddit-entries {
    width: 100%;
}